@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes entranceAnim {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

:root {
  background: #141e46;
}

.entrance-anim {
  animation: entranceAnim 1s ease 0s 1 normal forwards;
}
