@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes entranceAnim {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

:root {
  background: #141e46;
}

.entrance-anim {
  animation: entranceAnim 1s ease 0s 1 normal forwards;
}

.profile-option {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
}

.page-title {
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  font-weight: 600;
}

.react-datepicker-wrapper {
  width: 100%;
}
